.agencce-whatsapp-form-btns {
  display: flex;
  gap: 1rem;

  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1rem;

  &__btn {
    border: #25d366 1px solid;
    display: flex;
    align-items: center;
  }

  &__btn span {
    padding: 0.25rem;
  }

  &__svg-wrapper {
    background: #25d366;
    padding: 0.15rem;
  }
  &__svg-wrapper svg {
    width: 2rem;
    height: 2rem;
  }
}
